automation/fluxo-caixa-diario.json
{
  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "api": {
          "name": "shared_commondataserviceforapps"
        },
        "connection": {
          "connectionReferenceLogicalName": "__DATAVERSE_CONNECTION_REFERENCE__"
        },
        "runtimeSource": "embedded"
      },
      "shared_office365": {
        "api": {
          "name": "shared_office365"
        },
        "connection": {
          "connectionReferenceLogicalName": "__OUTLOOK_CONNECTION_REFERENCE__"
        },
        "runtimeSource": "embedded"
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "Recurrence": {
          "type": "Recurrence",
          "recurrence": {
            "frequency": "Day",
            "interval": 1,
            "schedule": {
              "hours": [
                7
              ],
              "minutes": [
                0
              ]
            },
            "timeZone": "E. South America Standard Time"
          }
        }
      },
      "actions": {
        "Initialize_week_balance": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varWeekBalance",
                "type": "float",
                "value": 0
              }
            ]
          },
          "runAfter": {}
        },
        "Initialize_summary_rows": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "varSummaryRows",
                "type": "string",
                "value": ""
              }
            ]
          },
          "runAfter": {
            "Initialize_week_balance": [
              "Succeeded"
            ]
          }
        },
        "List_configuration": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr40f_fluxocaixaconfiguracaos",
              "$select": "cr40f_fluxocaixaconfiguracaoid,cr40f_entidadeop,cr40f_entitysetop,cr40f_campoidop,cr40f_camponomeop,cr40f_campovalorop,cr40f_campodataop,cr40f_campostatusop,cr40f_valorativoop,cr40f_categoriaop,cr40f_campocontraparteop,cr40f_destinatariosalerta,_cr40f_categoriaopref_value",
              "$top": 1
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "ListRecords",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Initialize_summary_rows": [
              "Succeeded"
            ]
          }
        },
        "Compose_config": {
          "type": "Compose",
          "inputs": "@if(empty(outputs('List_configuration')?['body/value']),json('{}'),first(outputs('List_configuration')?['body/value']))",
          "runAfter": {
            "List_configuration": [
              "Succeeded"
            ]
          }
        },
        "Scope_sync_orders": {
          "type": "Scope",
          "actions": {
            "Validate_mapping": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@outputs('Compose_config')?['cr40f_entitysetop']",
                        null
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@outputs('Compose_config')?['cr40f_campoidop']",
                        null
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@outputs('Compose_config')?['cr40f_camponomeop']",
                        null
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@outputs('Compose_config')?['cr40f_campovalorop']",
                        null
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@outputs('Compose_config')?['cr40f_campodataop']",
                        null
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@outputs('Compose_config')?['cr40f_campostatusop']",
                        null
                      ]
                    }
                  },
                  {
                    "not": {
                      "equals": [
                        "@outputs('Compose_config')?['cr40f_valorativoop']",
                        null
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "List_active_orders": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "@outputs('Compose_config')?['cr40f_entitysetop']",
                      "$select": "@concat(outputs('Compose_config')?['cr40f_campoidop'],',',outputs('Compose_config')?['cr40f_camponomeop'],',',outputs('Compose_config')?['cr40f_campovalorop'],',',outputs('Compose_config')?['cr40f_campodataop'],',',outputs('Compose_config')?['cr40f_campostatusop'],if(empty(outputs('Compose_config')?['cr40f_campocontraparteop']),'',concat(',',outputs('Compose_config')?['cr40f_campocontraparteop'])))",
                      "$filter": "@concat(outputs('Compose_config')?['cr40f_campostatusop'],' eq ',outputs('Compose_config')?['cr40f_valorativoop'],' and ',outputs('Compose_config')?['cr40f_campovalorop'],' gt 0')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  }
                },
                "List_existing_order_forecasts": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cr40f_fluxocaixalancamentos",
                      "$select": "cr40f_fluxocaixalancamentoid,cr40f_name,cr40f_data,cr40f_valor,cr40f_status,cr40f_origemid,cr40f_contraparte",
                      "$filter": "cr40f_origem eq 'order'"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "ListRecords",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "List_active_orders": [
                      "Succeeded"
                    ]
                  }
                },
                "For_each_active_order": {
                  "type": "Foreach",
                  "foreach": "@outputs('List_active_orders')?['body/value']",
                  "actions": {
                    "Filter_existing_order": {
                      "type": "Query",
                      "inputs": {
                        "from": "@outputs('List_existing_order_forecasts')?['body/value']",
                        "where": "@equals(string(item()?['cr40f_origemid']),string(items('For_each_active_order')?[outputs('Compose_config')?['cr40f_campoidop']]))"
                      }
                    },
                    "Create_or_update_order": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@length(body('Filter_existing_order'))",
                              0
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Create_order_forecast": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cr40f_fluxocaixalancamentos",
                              "item/cr40f_name": "@string(items('For_each_active_order')?[outputs('Compose_config')?['cr40f_camponomeop']])",
                              "item/cr40f_data": "@items('For_each_active_order')?[outputs('Compose_config')?['cr40f_campodataop']]",
                              "item/cr40f_valor": "@float(items('For_each_active_order')?[outputs('Compose_config')?['cr40f_campovalorop']])",
                              "item/cr40f_categoria": "@outputs('Compose_config')?['cr40f_categoriaop']",
                              "item/cr40f_grupo": "Operacional",
                              "item/cr40f_origem": "order",
                              "item/cr40f_tipo": "forecast",
                              "item/cr40f_natureza": "inflow",
                              "item/cr40f_status": "open",
                              "item/cr40f_origemid": "@string(items('For_each_active_order')?[outputs('Compose_config')?['cr40f_campoidop']])",
                              "item/cr40f_contraparte": "@if(empty(outputs('Compose_config')?['cr40f_campocontraparteop']),null,string(items('For_each_active_order')?[outputs('Compose_config')?['cr40f_campocontraparteop']]))",
                              "item/cr40f_CategoriaRef@odata.bind": "@concat('/cr40f_fluxocaixacategorias(',outputs('Compose_config')?['_cr40f_categoriaopref_value'],')')"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "CreateRecord",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {
                          "Update_open_order": {
                            "type": "If",
                            "expression": {
                              "and": [
                                {
                                  "equals": [
                                    "@first(body('Filter_existing_order'))?['cr40f_status']",
                                    "open"
                                  ]
                                }
                              ]
                            },
                            "actions": {
                              "Update_order_forecast": {
                                "type": "OpenApiConnection",
                                "inputs": {
                                  "parameters": {
                                    "entityName": "cr40f_fluxocaixalancamentos",
                                    "recordId": "@first(body('Filter_existing_order'))?['cr40f_fluxocaixalancamentoid']",
                                    "item/cr40f_name": "@string(items('For_each_active_order')?[outputs('Compose_config')?['cr40f_camponomeop']])",
                                    "item/cr40f_data": "@items('For_each_active_order')?[outputs('Compose_config')?['cr40f_campodataop']]",
                                    "item/cr40f_valor": "@float(items('For_each_active_order')?[outputs('Compose_config')?['cr40f_campovalorop']])",
                                    "item/cr40f_categoria": "@outputs('Compose_config')?['cr40f_categoriaop']",
                                    "item/cr40f_contraparte": "@if(empty(outputs('Compose_config')?['cr40f_campocontraparteop']),null,string(items('For_each_active_order')?[outputs('Compose_config')?['cr40f_campocontraparteop']]))",
                                    "item/cr40f_CategoriaRef@odata.bind": "@concat('/cr40f_fluxocaixacategorias(',outputs('Compose_config')?['_cr40f_categoriaopref_value'],')')"
                                  },
                                  "host": {
                                    "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                                    "operationId": "UpdateRecord",
                                    "connectionName": "shared_commondataserviceforapps"
                                  }
                                }
                              }
                            },
                            "else": {
                              "actions": {}
                            }
                          }
                        }
                      },
                      "runAfter": {
                        "Filter_existing_order": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "List_existing_order_forecasts": [
                      "Succeeded"
                    ]
                  }
                },
                "For_each_existing_order": {
                  "type": "Foreach",
                  "foreach": "@outputs('List_existing_order_forecasts')?['body/value']",
                  "actions": {
                    "Filter_active_order": {
                      "type": "Query",
                      "inputs": {
                        "from": "@outputs('List_active_orders')?['body/value']",
                        "where": "@equals(string(item()?[outputs('Compose_config')?['cr40f_campoidop']]),string(items('For_each_existing_order')?['cr40f_origemid']))"
                      }
                    },
                    "Ignore_inactive_open_order": {
                      "type": "If",
                      "expression": {
                        "and": [
                          {
                            "equals": [
                              "@length(body('Filter_active_order'))",
                              0
                            ]
                          },
                          {
                            "equals": [
                              "@items('For_each_existing_order')?['cr40f_status']",
                              "open"
                            ]
                          }
                        ]
                      },
                      "actions": {
                        "Mark_order_ignored": {
                          "type": "OpenApiConnection",
                          "inputs": {
                            "parameters": {
                              "entityName": "cr40f_fluxocaixalancamentos",
                              "recordId": "@items('For_each_existing_order')?['cr40f_fluxocaixalancamentoid']",
                              "item/cr40f_status": "ignored"
                            },
                            "host": {
                              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                              "operationId": "UpdateRecord",
                              "connectionName": "shared_commondataserviceforapps"
                            }
                          }
                        }
                      },
                      "else": {
                        "actions": {}
                      },
                      "runAfter": {
                        "Filter_active_order": [
                          "Succeeded"
                        ]
                      }
                    }
                  },
                  "runAfter": {
                    "For_each_active_order": [
                      "Succeeded"
                    ]
                  }
                },
                "Audit_sync_success": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cr40f_fluxocaixaeventos",
                      "item/cr40f_name": "Sincronização diária de OPs",
                      "item/cr40f_acao": "Sincronização de OPs",
                      "item/cr40f_detalhe": "@concat(string(length(outputs('List_active_orders')?['body/value'])),' OPs ativas processadas pelo Flow.')",
                      "item/cr40f_data": "@formatDateTime(convertTimeZone(utcNow(),'UTC','E. South America Standard Time'),'yyyy-MM-dd')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "For_each_existing_order": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {
                  "Audit_mapping_missing": {
                    "type": "OpenApiConnection",
                    "inputs": {
                      "parameters": {
                        "entityName": "cr40f_fluxocaixaeventos",
                        "item/cr40f_name": "Mapeamento de OP incompleto",
                        "item/cr40f_acao": "Sincronização de OPs bloqueada",
                        "item/cr40f_detalhe": "Configure entidade, campos, status ativo e categoria pela tela de Configurações.",
                        "item/cr40f_data": "@formatDateTime(convertTimeZone(utcNow(),'UTC','E. South America Standard Time'),'yyyy-MM-dd')"
                      },
                      "host": {
                        "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                        "operationId": "CreateRecord",
                        "connectionName": "shared_commondataserviceforapps"
                      }
                    }
                  }
                }
              }
            }
          },
          "runAfter": {
            "Compose_config": [
              "Succeeded"
            ]
          }
        },
        "Audit_sync_error": {
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "entityName": "cr40f_fluxocaixaeventos",
              "item/cr40f_name": "Erro na sincronização diária",
              "item/cr40f_acao": "Erro na sincronização de OPs",
              "item/cr40f_detalhe": "@string(result('Scope_sync_orders'))",
              "item/cr40f_data": "@formatDateTime(convertTimeZone(utcNow(),'UTC','E. South America Standard Time'),'yyyy-MM-dd')"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "connectionName": "shared_commondataserviceforapps"
            }
          },
          "runAfter": {
            "Scope_sync_orders": [
              "Failed",
              "TimedOut"
            ]
          }
        },
        "Scope_alerts_and_summary": {
          "type": "Scope",
          "actions": {
            "List_cashflow_entries": {
              "type": "OpenApiConnection",
              "inputs": {
                "parameters": {
                  "entityName": "cr40f_fluxocaixalancamentos",
                  "$select": "cr40f_fluxocaixalancamentoid,cr40f_name,cr40f_data,cr40f_valor,cr40f_categoria,cr40f_tipo,cr40f_natureza,cr40f_status",
                  "$filter": "cr40f_status eq 'open' or cr40f_status eq 'reconciled'",
                  "$orderby": "cr40f_data asc"
                },
                "host": {
                  "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                  "operationId": "ListRecords",
                  "connectionName": "shared_commondataserviceforapps"
                }
              }
            },
            "Filter_overdue": {
              "type": "Query",
              "inputs": {
                "from": "@outputs('List_cashflow_entries')?['body/value']",
                "where": "@and(equals(item()?['cr40f_tipo'],'forecast'),equals(item()?['cr40f_status'],'open'),less(ticks(item()?['cr40f_data']),ticks(startOfDay(convertTimeZone(utcNow(),'UTC','E. South America Standard Time')))))"
              },
              "runAfter": {
                "List_cashflow_entries": [
                  "Succeeded"
                ]
              }
            },
            "Filter_next_week": {
              "type": "Query",
              "inputs": {
                "from": "@outputs('List_cashflow_entries')?['body/value']",
                "where": "@and(not(equals(item()?['cr40f_natureza'],'transfer')),or(and(equals(item()?['cr40f_tipo'],'forecast'),equals(item()?['cr40f_status'],'open')),and(equals(item()?['cr40f_tipo'],'actual'),equals(item()?['cr40f_status'],'reconciled'))),greaterOrEquals(ticks(item()?['cr40f_data']),ticks(startOfDay(convertTimeZone(utcNow(),'UTC','E. South America Standard Time')))),less(ticks(item()?['cr40f_data']),ticks(addDays(startOfDay(convertTimeZone(utcNow(),'UTC','E. South America Standard Time')),7))))"
              },
              "runAfter": {
                "Filter_overdue": [
                  "Succeeded"
                ]
              }
            },
            "For_each_next_week_entry": {
              "type": "Foreach",
              "foreach": "@body('Filter_next_week')",
              "actions": {
                "Increment_week_balance": {
                  "type": "IncrementVariable",
                  "inputs": {
                    "name": "varWeekBalance",
                    "value": "@if(equals(items('For_each_next_week_entry')?['cr40f_natureza'],'outflow'),mul(float(items('For_each_next_week_entry')?['cr40f_valor']),-1),float(items('For_each_next_week_entry')?['cr40f_valor']))"
                  }
                }
              },
              "runAfter": {
                "Filter_next_week": [
                  "Succeeded"
                ]
              }
            },
            "Send_urgent_alert_if_needed": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "not": {
                      "equals": [
                        "@outputs('Compose_config')?['cr40f_destinatariosalerta']",
                        null
                      ]
                    }
                  },
                  {
                    "or": [
                      {
                        "greater": [
                          "@length(body('Filter_overdue'))",
                          0
                        ]
                      },
                      {
                        "less": [
                          "@variables('varWeekBalance')",
                          0
                        ]
                      }
                    ]
                  }
                ]
              },
              "actions": {
                "Send_urgent_email": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/To": "@outputs('Compose_config')?['cr40f_destinatariosalerta']",
                      "emailMessage/Subject": "Fluxo de Caixa | Alerta financeiro diário",
                      "emailMessage/Body": "<h2>Alerta financeiro</h2><p>Previsões vencidas: <strong>@{length(body('Filter_overdue'))}</strong></p><p>Projeção consolidada dos próximos 7 dias: <strong>R$ @{formatNumber(variables('varWeekBalance'),'N2','pt-BR')}</strong></p><p>Acesse o módulo Fluxo de Caixa para revisar e conciliar os lançamentos.</p>",
                      "emailMessage/Importance": "High"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "operationId": "SendEmailV2",
                      "connectionName": "shared_office365"
                    }
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "For_each_next_week_entry": [
                  "Succeeded"
                ]
              }
            },
            "Filter_26_weeks": {
              "type": "Query",
              "inputs": {
                "from": "@outputs('List_cashflow_entries')?['body/value']",
                "where": "@and(not(equals(item()?['cr40f_natureza'],'transfer')),or(and(equals(item()?['cr40f_tipo'],'forecast'),equals(item()?['cr40f_status'],'open')),and(equals(item()?['cr40f_tipo'],'actual'),equals(item()?['cr40f_status'],'reconciled'))),greaterOrEquals(ticks(item()?['cr40f_data']),ticks(startOfDay(convertTimeZone(utcNow(),'UTC','E. South America Standard Time')))),lessOrEquals(ticks(item()?['cr40f_data']),ticks(addDays(startOfDay(convertTimeZone(utcNow(),'UTC','E. South America Standard Time')),182))))"
              },
              "runAfter": {
                "Send_urgent_alert_if_needed": [
                  "Succeeded"
                ]
              }
            },
            "For_each_summary_entry": {
              "type": "Foreach",
              "foreach": "@body('Filter_26_weeks')",
              "actions": {
                "Append_summary_row": {
                  "type": "AppendToStringVariable",
                  "inputs": {
                    "name": "varSummaryRows",
                    "value": "<tr><td>@{formatDateTime(items('For_each_summary_entry')?['cr40f_data'],'dd/MM/yyyy')}</td><td>@{items('For_each_summary_entry')?['cr40f_name']}</td><td>@{items('For_each_summary_entry')?['cr40f_categoria']}</td><td>@{items('For_each_summary_entry')?['cr40f_tipo']}</td><td>R$ @{formatNumber(if(equals(items('For_each_summary_entry')?['cr40f_natureza'],'outflow'),mul(float(items('For_each_summary_entry')?['cr40f_valor']),-1),float(items('For_each_summary_entry')?['cr40f_valor'])),'N2','pt-BR')}</td></tr>"
                  }
                }
              },
              "runAfter": {
                "Filter_26_weeks": [
                  "Succeeded"
                ]
              }
            },
            "Send_monday_summary": {
              "type": "If",
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@dayOfWeek(convertTimeZone(utcNow(),'UTC','E. South America Standard Time'))",
                      1
                    ]
                  },
                  {
                    "not": {
                      "equals": [
                        "@outputs('Compose_config')?['cr40f_destinatariosalerta']",
                        null
                      ]
                    }
                  }
                ]
              },
              "actions": {
                "Send_weekly_summary_email": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "emailMessage/To": "@outputs('Compose_config')?['cr40f_destinatariosalerta']",
                      "emailMessage/Subject": "Fluxo de Caixa | Resumo das próximas 26 semanas",
                      "emailMessage/Body": "<h2>Resumo financeiro — 26 semanas</h2><p>Consolidado: previsões abertas + realizados conciliados. Transferências internas são neutras.</p><table style=\"border-collapse:collapse;width:100%\"><thead><tr><th>Data</th><th>Descrição</th><th>Categoria</th><th>Tipo</th><th>Valor</th></tr></thead><tbody>@{variables('varSummaryRows')}</tbody></table>",
                      "emailMessage/Importance": "Normal"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
                      "operationId": "SendEmailV2",
                      "connectionName": "shared_office365"
                    }
                  }
                },
                "Audit_weekly_summary": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "parameters": {
                      "entityName": "cr40f_fluxocaixaeventos",
                      "item/cr40f_name": "Resumo semanal enviado",
                      "item/cr40f_acao": "Resumo de 26 semanas",
                      "item/cr40f_detalhe": "@concat(string(length(body('Filter_26_weeks'))),' lançamentos incluídos no resumo.')",
                      "item/cr40f_data": "@formatDateTime(convertTimeZone(utcNow(),'UTC','E. South America Standard Time'),'yyyy-MM-dd')"
                    },
                    "host": {
                      "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps",
                      "operationId": "CreateRecord",
                      "connectionName": "shared_commondataserviceforapps"
                    }
                  },
                  "runAfter": {
                    "Send_weekly_summary_email": [
                      "Succeeded"
                    ]
                  }
                }
              },
              "else": {
                "actions": {}
              },
              "runAfter": {
                "For_each_summary_entry": [
                  "Succeeded"
                ]
              }
            }
          },
          "runAfter": {
            "Scope_sync_orders": [
              "Succeeded",
              "Failed",
              "TimedOut"
            ]
          }
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}
